<nav class="navbar navbar-light justify-content-between px-4 align-items-center">
  <div class="container-fluid d-flex align-items-center my-2">
    <a class="navbar-brand text-white fw-sm-light ">Manage<span class="fw-bolder"> Employees</span></a>

    <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#buttonsCollapse" aria-controls="buttonsCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse d-md-flex" id="buttonsCollapse">
      <form class="form-inline ms-auto d-flex align-items-center">
        <button type="button" class="btn btn-danger me-2"><i class="fa-solid fa-circle-minus"></i> Delete</button>
        <app-add-modal ngSkipHydration _ngcontent-ng-c3238329625="" _nghost-ng-c2028654620=""></app-add-modal>
      </form>
    </div>
  </div>
</nav>
